* {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}
.main {
  width: 400px;
  text-align: center;
  padding: 10px;
  background: wheat;
  box-shadow: 0px 0px 20px rgb(14, 9, 0);
}
input {
  padding: 10px;
  align-items: center;
  display: flex;
  justify-self: center;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
    font-size: 20px;
}

button{
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: aqua;
    background-color: chocolate;
    font-size: 20px;
    cursor: pointer;
}
ul{
    margin-top: 20px;
    list-style: none;


}
li{
    list-style: none;
    background-color: chocolate;
    padding: 10px;
    border-radius: 10px;
    line-height: 20px;
    cursor: pointer;
    margin: 10px;
}
